@charset "UTF-8";
@import "./../global";
.login_wrap{
  width: 100%;
  padding: px2rem(15);
  >.login_input{
    width: 100%;
    height: px2rem(40);
    border-bottom: px2rem(1) solid #ddd;
    position: relative;
    >input{
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: none;
      line-height: px2rem(40);
      display: block;
      color: #333;
      font-size: px2rem(14);
    }
    >.verification_code{
      width: px2rem(100);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(108,108,108,0.2);
      font-size: px2rem(26);
      line-height: px2rem(38);
      text-align: center;
      color: royalblue;
      letter-spacing: px2rem(1);
      >span{
        display: inline-block;
      }
      >.verification_line{
        width: px2rem(80);
        height: 0;
        border-bottom: px2rem(2) solid royalblue;
        position: absolute;
        top: px2rem(20);
        left: px2rem(10);
        transform: rotateZ(8deg);
      }
    }
  }
  >.confirm{
    width: px2rem(200);
    height: px2rem(48);
    border-radius: px2rem(24);
    background: royalblue;
    color: #fff;
    font-size: px2rem(24);
    line-height: px2rem(48);
    text-align: center;
    margin: px2rem(160) auto;
  }
  >.confirmForbidden{
    background: #666666;
    color: #dddddd;
  }
}
